<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">
        <span>
            COFFEE HOUSE
        </span>
    </div>

    <div id="open-menu" class="list-group list-group-flush" >
        <a routerLink="/products" routerLinkActive="active" class="list-group-item list-group-item-action bg-transparent text-white border-white border-bottom-0 ">
            <i class="pe-7s-note2"></i>
            PRODUCTS
        </a>

        <a routerLink="/notifications" routerLinkActive="active" class="list-group-item list-group-item-action bg-transparent text-white border-white border-bottom-0 ">
            <i class="pe-7s-bell"></i>
            NOTIFICATIONS
        </a>
        
    </div>
</div>
